@import "../bootstrap-5.3.0/scss/functions";
@import "../bootstrap-5.3.0/scss/variables";
@import "../bootstrap-5.3.0/scss/mixins";

// New color variables
$col1: #780000;
$col2: #c1121f;
$col3: #fdf0d5;
$col4: #003049;
$col5: #669bbc;
$col6: #2d2d2d;
$col7: #f7b538;
$col8: #fbf4f4;

// Merge the maps
$theme-colors: map-merge($theme-colors, (
  "color1": $col1,
  "color2": $col2,
  "color3": $col3,
  "color4": $col4,
  "color5": $col5,
  "color6": $col6,
  "color7": $col7,
  "color8": $col8,
));


// Include all of Bootstrap
@import "../bootstrap-5.3.0/scss/bootstrap";

